name: Docker Image CI and publish to Docker hub

#on:
#  push:
#    branches: [ "main" ]
#  pull_request:
#    branches: [ "main" ]

on:
  workflow_dispatch:

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build -t ${{ vars.DOCKER_USERNAME }}/random-pass:amd64 .
    
    - name: Log in to Docker Hub
        run: docker login -u ${{ vars.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}

    - name: Push Docker image to Docker Hub
        run: docker push ${{ vars.DOCKER_USERNAME }}/random-pass:amd64 # Replace my-app with your repository name
